.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  background-color: #282c34;
  display: flex;
  flex: 1;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px 15px;
}

a{
  text-decoration: none;
  color: aliceblue;
}

