.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  background-color: #282c34;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 25px 15px;
}

.header a{
  text-decoration: none;
  color: aliceblue;
}
.header span {
  cursor: pointer;
}

.header span:hover {
  text-decoration: underline;
}



